:root {
    --bg-black-transparent:rgba(255,255,255,.8);
    --bg-green-gradient: linear-gradient(
            to bottom, rgb(255, 255, 255), rgb(123, 198, 149)
        );
    --bg-green: rgba(46, 141, 46, 0.726);
    --bg-dark-green: #083a08d7;
    --bg-whitest:#f2f2f2;
    --bg-whiter:#fdf9ff;
    --bg-white:#e8dfec;
    --text-black-900:#1c1b2c;
    --text-black-700:#2c2b33;
    --box-shadow:rgba(0,0,0,.4);
}

@font-face {
    font-family: ;
    src: url();
}

@font-face {
    font-family: ;
    src: url();
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::before,::after{box-sizing: border-box;}
ul{list-style: none;}
img{max-width: 100%; height: auto;}
button{cursor: pointer;}

body {
    line-height: 1.5;
    font-size: 100%;
    background: var(--bg-green-gradient);
    scroll-behavior: smooth;
}

header {
    display:block;
    text-transform: capitalize;
    width:100%;
    text-align: center;
    /* font-family: ; */
}

.typing_span {
  background: var(--bg-dark-green);
  color: var(--bg-white);
  padding: .5rem;
  border-radius: 5px;
}

.logo {
    text-decoration: none;
    color: var(--bg-dark-green);
    text-align: center;
    font-size: 1.5rem;
}

.logo_span {
  color: var(--bg-whitest);
}

.nav_bar {
    width:100%;
    height: 2rem;
}

.aside {
    background: var(--bg-green);
}

.aside_nav {
    margin: 0;
    padding: 0;
    display:flex;
    align-items:flex-start;
    justify-content:space-around;
}

.nav_li {
    display: block;
    float: left;
}

#nav_li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: var(--bg-dark-green);
    border-bottom: 1px solid var(--bg-dark-green);
}

.nav_i {
  width: 1rem;
  margin-right: 0.4rem;
}

.profile_links {
  margin-top: 1rem;
}

.container {
    max-width: 1400px;
    width: 100%;
    margin: auto;
    padding: 2rem 0;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    padding: .5rem;
    position: relative;
  }

  .home_lines {
    display: flex;
    float: left;
    justify-content: space-between;
    align-items: flex-start;
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .home_img {
    padding-left: 2rem;
  }

  .home_img img {
    float: right;
    border-radius: 50%;
    width: 45rem;
    height:10rem;

  }
  .recent-works,
  .resume-btn {
    background-color: #4CAF50;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px;
    cursor: pointer;
  }

.about_content {flex: 0 0 100%;max-width: 100%;}

.section_title {
    text-decoration: underline double var(--bg-dark-green);
}

.about_text {
  flex:0 0 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}

.about_text-content {margin: 0 0 1rem;}

.text_h3 {
  font-size: 24px;
  margin-bottom: 0.93rem;
  font-weight: 700;
  color: var(--text-black-900);
}

.text_span{
  color: var();
}

.text_p {
  font-size: 1.2rem;
  line-height: 1.56rem;
  color: var(--text-black-700);
}

.text_p::first-letter {
  font-size: 2rem;
  margin-left: .5rem;
}

.text_p2 {
  margin-top: .3rem;
}

.skills {
  margin-top: 1em;
  margin-bottom: 1em;
}

.skills_container {
  display: block;
  width: 100%;
}

.skill_header {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-bottom: 5px;
  border: 1px solid var(--bg-green);
  text-align: center;
  border-radius: 5px 5px;
}

.frontend {
  background: var(--bg-green);
  border-left: .5em solid var(--bg-dark-green);
  border-radius: 5px 5px;
}

.skills_list{
  min-width: 15rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 1rem;
  margin-top: .5em;
}

.skill_item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 .5rem .5rem;
  border-radius: 10px;
  color: var(--bg-dark-green);
}

.skills_i {
  margin: .3rem;
  background: var(--bg-dark-green);
  color: var(--bg-white);
  border-radius: 5px;
  width: 4.5rem;
  text-align: center;
}

.skill_item-title {
  text-align: center;
}

.exp_edu_section {
  display: flex;
  justify-content: space-evenly;
  padding-left: .5em;
}

.experience ,
.education {
  width: 100%;
}

.timeline {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.timeline_title {
  font-size: 1.2rem;
}

.gallery {
  margin-top: 1.5rem;
  border: 2px solid var(--text-black-700);
  border-radius: 10px;
  box-shadow: #2c2b33;
  width: 20rem;
  text-align: center;
}

.gallery-title {
  background: var(--bg-dark-green);
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px;
  text-align: center;
  font-size: 16px;
  margin: 2px;
  width:16rem;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background: var(--bg-white);
  color: var(--bg-dark-green);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.gallery_items {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.album_item {
  height: 10rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 3px;
  margin: 2px;
  /* border: 1px solid var(--bg-dark-green); */
  border-radius: 5px;
  box-shadow: #2c2b33;
  object-fit: fill;
}

.album_item:hover {
  transform: scale(2);
  object-fit: contain;
}

.contact {
  border: 1px solid var(--bg-green);
  display: block;
  margin: .5rem;
  border-radius: 5px;
  box-shadow: 5px outset #4CAF50;
}

.contact_h2 {
  text-align: center;
}

.item_container {
  display: block;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  color: var(--bg-white);
}

.contact_links {
  width: 100%;
  margin: 2px;
  padding: 0;
  display:flex;
  justify-content:space-around;
}

.contact_list {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.contact_list-item {
  display: block;
  width: 5rem;
  padding: 2px;
  
}

.contact_i {
  margin: .3rem;
  color: var(--bg-dark-green);
  text-align: center;
}

footer {
  background: var(--bg-dark-green);
  color: var(--bg-whiter);
  text-align: center;
  font-size: 1em;
  padding: .5rem;
}

.foot_link_note {
  text-decoration: none;
  color: var(--bg-green);
  font-size: 1.5rem;
}


@media screen and (min-width:426px) and (max-width:1440px) {
    .aside {
        width: 10rem;
        position: fixed;
        left: 0;
        top: 0;
        padding: 1.5rem;
        height: 100%;
        border-left: 1px solid var(--bg-black-50);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        transition:all 0.5s ease-in-out ;
        overflow: auto;
    }

    .aside_logo {
      margin-bottom: 5rem;
    }

    
    #nav {
        display:block;
        text-transform: capitalize;
        width:100%;
        height: 15rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .nav_li {
        border-bottom: 1px solid var(--bg-whiter);
        margin-bottom: .5rem;
    }
    
    .nav_i {
      width: 1.25rem;
      margin-right: 0.8rem;
    }

    .home_img img {
        width: 15rem;
        height:15rem;
      }

    .main_section {
        margin-left: 10rem;
    }

    .contact_list {
      width: 40rem;
      justify-content: space-evenly;
      align-items: center;
    }
}
